/* Development Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  ul li {
    text-decoration: none;
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  h2 {
    font-size: 3rem;
  }
  
  #ws-normal {
    white-space: normal;
    line-height: 1.5;
  }
  
  .center {
    align-items: center;
    justify-content: center;
  }
  
  .flex {
    display: flex;
  }
  
  .get-centred {
    max-width: 90%;
    margin: 0 auto;
  }
  
  .primary-font {
    font-family: "Varela Round", sans-serif;
  }
  
  .secondary-font {
    font-family: "Signika Negative", sans-serif;
  }
  
  .element-color-1 {
    color: #00a8e8;
  }
  
  .element-color-2 {
    color: #777777;
  }
  
  .element-color-3 {
    color: #1cb0f6;
  }
  
  /* Buttons */
  .common-button-1, .common-button-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    width: 100%;
    max-width: 20rem;
    height: 3rem;
    border-radius: 0.75rem;
    text-transform: uppercase;
    font-weight: 700;
    white-space: nowrap;
    letter-spacing: 0.05rem;
  }
  
  .common-button-1 {
    background-color: #00a8e8;
    border-bottom: 0.25rem solid #00a8e8;
  }
  
  .common-button-1:hover {
    background-color: #00a8e8;
  }
  
  .common-button-2 {
    border: 0.125rem solid #e5e5e5;
    box-shadow: 0 0.125rem 0 #e5e5e5;
    background-color: #ffffff;
  }
  
  .common-button-2:hover {
    background-color: #e5e5e5;
    border: 0.125rem solid #c4c4c4;
    box-shadow: 0 0.125rem 0 #c4c4c4;
  }
  
  /* Information Section */
  .information-text-width {
    width: 100%;
    max-width: 30rem;
    line-height: 1.5;
  }
  
  .information-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
    padding: 5rem 0;
  }
  
  .information-text {
    flex-direction: column;
    gap: 1.5rem;
    max-width: 30rem;
  }
  
  .padding-top {
    padding-top: 6rem;
  }
  
  .information-blue-text {
    font-weight: 700;
  }
  
  .row-reverse {
    flex-direction: row-reverse;
  }
  
  .personalized-learning {
    width: 100%;
    max-width: 30rem;
    font-size: 3rem;
  }
  
  /* Navbar Section */
  .main-nav {
    border-bottom: 0.125rem solid #e1dddd;
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    z-index: 1;
  }
  
  .nav-bar {
    display: flex;
    height: 5rem;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav-logo {
    background-image: url(../images/logo.png);
    width: 10rem; 
    height: 10rem; 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center; 
    margin-left: 2rem; 
}
  
  .nav-bar-button {
    background-color: #00a8e8;
    width: 10rem;
    height: 3rem;
    color: #ffffff;
  }
  
  /* Hero Section */
  .hero-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20vh;
    padding-bottom: 5vh;
    flex-wrap: wrap;
  }
  
  .hero-image {
    background-image: url(../images/undraw_Social_interaction_re_dyjh.png);
    width: 100%;
    max-width: 25rem;
    height: 30rem;
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center;
}
  
  .hero-section-right {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  
  .hero-text {
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    max-width: 30rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }
  
  .hero-button-first {
    background-color: #00a8e8;
    color: #ffffff;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 1.5rem;
  }
  
  .hero-button-second {
    background-color: #ffffff;
    color: #1cb0f6;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    border: 2px solid #1cb0f6;
  }
  
  /* Information Images */
  .information-images-1 {
    background-image: url(../images/undraw_Mobile_interface_re_1vv9.png);
    width: 100%;
    max-width: 30rem;
    height: 30rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .information-images-2 {
    background-image: url(../images/undraw_Educator_re_ju47.png);
    width: 100%;
    max-width: 30rem;
    height: 30rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  
  /* Footer Section */
  .sub-footer-section {
    background-color: #00a8e8;
    padding: 2rem 0;
  }
  
  .sub-footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .sub-footer-hading {
    font-size: 1.25rem;
    color: #d7ffb8;
    text-transform: capitalize;
    white-space: nowrap;
    margin-bottom: 0.75rem;
    font-weight: 700;
  }
  
  .sub-footer-list {
    font-size: 1rem;
    text-transform: capitalize;
    white-space: nowrap;
    flex-direction: column;
    gap: 0.75rem;
    font-weight: 700;
  }
  
  .sub-footer-list li a {
    color: #00a8e8;
  }
  
  .hr-line {
    border: 0.063rem solid #00a8e8;
  }
  